#mainBlockMain{
    display: flex;
}
#mainBlock{
    height: 100vh;
    width: 50vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#mainBlockSecond{
    height: 100vh;
    width: 50vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}